 <div class="container d-flex mt-2 justify-content-between popular-taglist">
        <a href="/tag/{{tag_name}}" class="pop-tag" style="text-decoration: none;"><h6 class="pop-tag">{{tag_name}} ({{count}})</h6></a>
        <div class="tag-subscribe-s" data-bs-toggle="modal" data-bs-target="#loginModal">Subscribe</div> 
</div>