 <div class="tag-group col-md-3 mt-3">
<a href="/tag/{{tag_name}}"><div><h6 class="tag-group-name">#{{tag_name}}</h4></div></a>
<div class="tag-group-img" style="background-image:url({{tag_photo}});"></div>
     <div><h6 class="tag-group-count">{{count}} posts</h4></div>
 </div>