<div class="tag-group mr-5 col-md-3">
    <div><h6 class="tag-group-name"><a href="../tag/{{this.tag_name}}">{{this.tag_name}}</a></h4></div>
    <div class="tag-group-img" style="background-image:url({{this.photo}});"></div>
    <div><h6 class="tag-group-count"></h4></div>
</div>

