<div class="label-404-div d-flex">
    <div class="row">
        <div class="col-6 d-flex justify-content-center">
                <h1 class="label-404">404 <h1 class="bar-404">| </h1></h1>
        </div>
        <div class="col-6 right-404-page">
            <div ><h2 class="not-found-text">page not found :(</h2></div>
            <div class="not-found-subtext">The post or user may not exist anymore. Go back <a href="/home" class="home-404-link">home</a>?</div>
        </div>
    </div>
</div>